.kb-service-status {
    max-width: 50%;
    width: 50%;
    padding: 10px;
    border: 2px solid gray;
    margin: 3px;
    font-size: 1.5em;
}

.kb-service-status.starting,
.kb-service-status.updating {
    border-color: black;
}

.kb-service-status.ok {
    border-color: green;
}

.kb-service-status.error {
    border-color: red;
}

.status-button {
    margin-left: auto;
}

.icon-ok {
    color: green;
}

.icon-error {
    color: red;
}

.icon-loading {
    color: black;
}

.status-flex {
    cursor: pointer;
    display: flex;
    transition: opacity 0.1s linear;
}

.status-flex:hover {
    opacity: 0.65;
}
